{% extends 'logged.html.twig' %}

{% block title %}Pagina Inicial{% endblock %}

{% block body %}
<div class="bg-dark text-white p-3 border border-black rounded-bottom">
    <h3>Ultimas vendas: </h3>
</div>
{% endblock %}
