{% extends 'admin/baseadmin.html.twig' %}

{% block content %}
    {% include "alerts/message.html.twig" %}

    <h4 class="mb-3">Cadastro de produtos: </h4>

    {{form(registerForm)}}
{% endblock %}