<div class="modal fade modal-lg" id="payment" tabindex="-1" aria-labelledby="payment" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content bg-dark text-light">
			<div class="modal-header">
				<h5 class="modal-title" id="payment-title">Pagamento</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
			</div>
			<div class="modal-body">
				{{form(paymentForm)}}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>